.add {
    width: fit-content;
    display: flex;
    align-self: flex-end;
}

.book-list {
    width: 60%;
    text-align: center;
}

#line {
    width: 70px;
    color: #212529;
    height: 2px;
}

#items {
    margin: 5px 0;
    padding: 5px;
}

.contact {
    width: fit-content;
}

.links {
    margin: 0;
    width: 28%;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.vl {
    border-left: 1px solid;
    height: 30px;
}

.text-link {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

section {
    margin-top: 5em;
    margin-bottom: 5em;
}

#formSection, #contactSection {
    display: none;
}

footer {
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
}

#demo {
    position: fixed;
    margin-right: 10px;
    right: 0;
}